.navbar {
    background-color: black !important;
    height: 70px !important;  
    font-size: 20px !important;
    padding: 20px !important;
    letter-spacing: 2px !important;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-item:hover {
    text-decoration: underline !important;
    color: white;
}

.nav-items, .nav-link {
    color: white !important;
}

.header-name {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    font-style: italic;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

a:hover .header-name {
    color:#d2c0c0;
}

body {
    background-color: rgb(255, 255, 255) !important;
}

.site-footer {
    background-color: light gray;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer-divider {
    width: 90%;
    height: 2px;
    background-color: grey;
    margin: 20px auto;
}

.footer-text {
    margin-top: 10px;
}

.auth-links {
    display: flex;
    gap: 15px;
    margin-left: 15px;
}

.login-link, .signup-link, .profile-link {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
}

.login-link:hover, .signup-link:hover, .profile-link:hover {
    text-decoration: underline;
}

.men-heading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: grey;
    margin-top: 30px;
}


.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.product-card {
    width: 22%;
    height: 320px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 15px; 
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}


.product-card:hover {
    transform: scale(1.05);
}

.product-card a {
    display: block;
    text-decoration: none;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.product-info {
    margin-top: 20px;
}

.product-name { 
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
}

.image-link { 
    transition: transform 0.3s ease-in-out;
}

.image-link:hover img {
    transform: scale(1.1);
    cursor: pointer;
}
